
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="top_panel_title top_panel_style_2  title_present breadcrumbs_present scheme_original">
    <div style="background-image: url(/Content/uploads/2016/08/test_bg.jpg);" class="top_panel_title_inner top_panel_inner_style_2  title_present_inner breadcrumbs_present_inner">
        <div class="content_wrap">
            <h1 class="page_title">Liên hệ</h1><div class="breadcrumbs">
                @Html.ActionLink("Trang chủ", "Index", "Home", htmlAttributes: new { @class = "breadcrumbs_item" })

                <span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Liên hệ</span>
            </div>
        </div>
    </div>
</div>

<div class="page_content_wrap page_paddings_no">


    <div class="content_wrap">
        <div class="content">
            <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-43 page type-page status-publish hentry" itemscope itemtype="http://schema.org/Article">
                <section class="post_content" itemprop="articleBody">
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1472978178280">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3 margin_top_huge margin_bottom_huge">
                                        <div class="column-1_3 sc_column_item sc_column_item_1 odd first" style="text-align:center;">
                                            <div class="sc_section section_style_promo_section" style="background-image:url(/Content/uploads/2016/08/parallax_3.jpg);background-repeat:no-repeat;background-size:cover;">
                                                <div class="sc_section_inner">
                                                    <div class="sc_section_overlay" style="">
                                                        <div class="sc_section_content padding_on" style="">
                                                            <h3 class="sc_section_title sc_item_title sc_item_title_without_descr">Địa chỉ</h3><div class="sc_section_descr sc_item_descr">Số 8 Ngô Quyền, Ninh Kiều, Cần Thơ</div>
                                                            <div class="sc_section_content_wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="column-1_3 sc_column_item sc_column_item_2 even" style="text-align:center;">
                                            <div class="sc_section section_style_promo_section" style="background-image:url(/Content/uploads/2016/08/parallax_1.jpg);background-repeat:no-repeat;background-size:cover;">
                                                <div class="sc_section_inner">
                                                    <div class="sc_section_overlay" style="">
                                                        <div class="sc_section_content padding_on" style="">
                                                            <h3 class="sc_section_title sc_item_title sc_item_title_without_descr">Điện thoại</h3><div class="sc_section_content_wrap">
                                                                <div class="wpb_text_column wpb_content_element  sc_item_descr">
                                                                    <div class="wpb_wrapper">
                                                                        <p><a href="tel:(0292)-3733-002">(0292)-3733-002</a></p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">

                                                </div>
                                            </div>
                                        </div><div class="column-1_3 sc_column_item sc_column_item_3 odd" style="text-align:center;">
                                            <div class="sc_section section_style_promo_section" style="background-image:url(/Content/uploads/2016/08/bg-1.jpg);background-repeat:no-repeat;background-size:cover;">
                                                <div class="sc_section_inner">
                                                    <div class="sc_section_overlay" style="">
                                                        <div class="sc_section_content padding_on" style="">
                                                            <h3 class="sc_section_title sc_item_title sc_item_title_without_descr">Mail</h3><div class="sc_section_content_wrap">
                                                                <div class="wpb_text_column wpb_content_element  sc_item_descr">
                                                                    <div class="wpb_wrapper">
                                                                        <p><a href="#"><span class="__cf_email__" data-cfemail="eb82858d84ab92849e9998829f8ec5888486">[email&#160;protected]</span></a></p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width"></div>


                </section>
            </article>
            <section class="related_wrap related_wrap_empty"></section>

        </div>
    </div>
</div>


<script>
    $(".idLienhe").addClass("current-menu-parent");
</script>